<!DOCTYPE html>
<html>
<!-- This should handle the initial redirect & google handle. I assume on reload, referrer header will be set to this same page, so you can then increment visit counter & redirect to content when that happens. -->
<!-- This should also let you distinguish between 'real' (browser) visits & programmatic ones via referrer header & google user agent -->

<head>
    <title>Sharecrows: connect with passerby!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Connect with passerby!">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <!-- <meta property="og:image" content="{{opengraph-img}}"> -->
    <!-- <link href="{{icon}}" rel="icon" type="image/png"> -->
    <script>
        window.location.assign('')
    </script><noscript><meta http-equiv="refresh" content="0; url=undefined"></noscript>
</head>

<body><span>Redirecting...</span></body>

</html>
