<!DOCTYPE html>
<html>
<head>
    <title>Sharecrows: connect with passerby!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Connect with passerby!">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <!-- <meta property="og:image" content="{{opengraph-img}}"> -->
    <!-- <link href="{{icon}}" rel="icon" type="image/png"> -->
    <script>
        window.location.assign('')
    </script><noscript><meta http-equiv="refresh" content="0; url=undefined"></noscript>
</head>
<body><span>Redirecting...</span></body>
</html>
